<!-- Style entire website--> 
body{ 
    background-color: green; 
} 

*{ 
    margin:0; 
    padding:0; 
} 

u1 {  
    list-style: none;
}

u1 li { 
    list-style: none; 
    display: inline-block; 
    float: left; 
}

u1 li a { 
     text-decoration: none;  
     font-size: 14px; 
     font-family: arial; 
     color: #1e1e1e; 
}



